<div  class="container-fluid" style="min-height: calc(100vh - 306px);margin-top: 2%;">

  <div  class="container">
      <div  style="transition: opacity 500ms ease-in-out; opacity: 1;min-height: calc(100vh - 400px);">

          <div  class="PatientOrderDetails">
              <div  class="row">
                  <a  class="btn-link" href="">
                      <i  aria-hidden="true" class="fa fa-arrow-left"></i>Pharmacy Dashboard
                  </a>
              </div>
              <div  class="row">
                  <a  class="btn-link" href="">
                      <i  aria-hidden="true" class="fa fa-arrow-left"></i>List of Orders
                  </a>
              </div>
              <br >
              <br >


              <div class="row " style="margin-bottom: 5px">
                  <div  class="col-md-6 text-left">
                      <h2 >Order Details                                                                                                                                                                                                                                                                                                                                                                                                 </h2>
                  </div>
                  <div  class="col-md-6 text-right">
                      <button  class="btn btn-sm btn-success btn-sm" tabindex="0">
                          <i  aria-hidden="true" class="fa fa-comments"></i>
                      </button>
                      <button  class="btn btn-sm btn-warning btn-sm text-right">
                          <i  aria-hidden="true" class="fa fa-file-pdf-o"></i> PDF
                      </button>
                  </div>
                  <br >
                  <br >
              </div>

              <div  class="row">
                  <div  class="PharmacyOrderDetails-info" style="width: 100%;">
                      <div  class="OrderDetails-client" style="padding-top: 2%;">
                          <div  class="row OrderDetails-client-section" style="padding-left: 5%;">
                              <div class="col-md-6">
                                  <div  class="d-flex flex-column">
                                      <h3 >Pet Owner &amp; Patient</h3>
                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">
                                              Pet Owner:
                                          </b>
                                          <b class="resStyle">{{order.petownr_name}} {{order.petowner_lastName}}</b>
                                          <br>
                                      </div>
                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">
                                              Patient:
                                          </b>
                                          <b class="resStyle">{{order.petName}}</b>
                                      </div>




                                      </div>
                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">
                                              Pet Owner Email:
                                          </b>
                                          <b class="resStyle"> {{order.petowner_email}}
                                          </b>
                                      </div>
                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">Pet Owner Phone Number: </b>
                                          <b class="resStyle">(132){{order.petowner_phone}}</b>
                                      </div>

                                      <div  class="d-flex">
                                          <b style="margin-right: 5px">
                                              Shipping Method:
                                          </b>
                                          <b class="resStyle"> Standard shipping</b>
                                      </div>

                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">
                                              Order Date:
                                          </b>
                                          <b class="resStyle">{{order.date}}</b>
                                      </div>

                                  </div>
                              </div>
                              <hr>
                              <br>
                              <div  class="col-md-6"style="margin-right: 15px">
                                  <h3 >Veterinarian</h3>

                                  <div  class="d-flex">
                                      <b  style="margin-right: 15px">
                                          Veterinarian:
                                      </b>
                                      <b class="resStyle">{{order.VetName}} {{order.VetLastName}}</b>
                                  </div>

                                  <div  class="d-flex flex-column">
                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">Direct Line: </b>
                                          <b class="resStyle">(814) {{order.VetDirectNumbre}}</b>
                                      </div>

                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">Veterinarian Mobile Phone Number:
                                          </b>

                                          <b class="resStyle"><span>(814) {{order.vetphone}}</span></b>

                                      </div>
                                  </div>
                              </div>
                              <br>
                              <br>
                          </div>
                          <br>
                          <br>
                          <hr>
                          <br>
                          <div  class="row OrderDetails-client-section" style="padding-left: 5%;">
                              <div  class="col-md-3">
                                  <b >
                                      Shipping Address
                                  </b>
                                  <br>
                                  <p>
                                  <b class="resStyle">

                                   {{order.adresse.adresse}}


                                      <br>  {{order.adresse.city}}, {{order.adresse.street}} {{order.adresse.postal_code}}
                                      <br>

                                      </b>
                                      </p>

                              </div>

                              <div  class="col-md-3" style="margin-left: 25%;" >
                                  <b >
                                      Payment Status
                                  </b>
                                  <br>

                                  <br>

                                 <div  class="bg-success"  >
                                      <p  class="align-right" style="padding-left:30%;color: white;">
                                          Paid
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <br>
                          <hr>

                         <div class="row OrderDetails-client-section" style="padding-left: 5%;">
                              <div  class="form-group-lg  col-md-5">
                                  <label  class="control-label">Status</label>

                                  <select (change)="change($event.target.value)" class="form-control form-control-sm ng-pristine ng-valid ng-touched" id="selec" name="Status">
                                      <option  value="0">New Order </option>
                                      <option  value="1">In Process </option>
                                      <option   value="2">Pending assignment</option>
                                      <option  value="3">Shipped </option>
                                      <option  value="4">Incomplete</option>
                                      <option  value="5">Canceled</option>
                                      <option  value="6">Pick Up</option>
                                      <option  value="7">Ready</option>

                                      <option  value="8">Awaiting payment in pharmacy</option>
                                  </select>
                              </div>
                              <div  class="form-group-lg col-md-5">
                                  <label  class="control-label">Tracking Number</label>
                                  <input  class="form-control form-control-sm ng-untouched ng-pristine" name="TrackingNumber" placeholder="" required="" type="text" disabled="">

                              </div>

                              <div  class="col-md-2" style="padding-top:0.6%">
                                  <button (click)='update()' class="btn btn-sm btn-primary btn-lg mt-lg-4"style="background-color:#4056A1;width:100px;">
                                      Update
                                  </button>
                              </div>
                          </div>

                          <br>
                          <hr>


                         <!--- <div>


                              <div class="row" style="padding-left: 5%;">
                                  <div  class="col-md-4 text-danger">
                                      <b>
                                          Under Work By:

                                      </b> Jake Browns
                                      <br>
                                  </div>
                                  <div class="col-md-6 text-danger" style="margin-left: 15%;">
                                      <span >
                                          <b>
                                              Pharmacist email:
                                          </b>
                                          jake@hagyard.com
                                      </span>
                                      <br>
                                      <br>

                                  </div>
                                  <div class="col-md-2">
                                  </div>
                              </div>
                          </div>
                      </div>-->
                      <div _ngcontent-c12="" class="table-responsive" style="margin-bottom: 0px; margin-top: 10px;color: #123C69;">
                          <table _ngcontent-c12="" class="Order table"style="color:#123C69">
                              <thead _ngcontent-c12="">
                                  <tr _ngcontent-c12="" id="tr_head-item">
                                      <td _ngcontent-c12="" colspan="20">
                                          <h5 _ngcontent-c12="">
                                              <span _ngcontent-c12="" class="number">
                                                  Order # {{order.id}}
                                              </span>


                                          </h5>
                                      </td>
                                  </tr>
                                  <tr _ngcontent-c12="" id="tr_head-item">
                                      <td _ngcontent-c12="" width="200">Product</td>
                                      <td _ngcontent-c12="" width="70">Qty</td>
                                      <td _ngcontent-c12="" width="86">Type</td>
                                      <td _ngcontent-c12="" width="100">Form</td>
                                      <td _ngcontent-c12="" width="120">Strength</td>
                                      <td _ngcontent-c12="" width="90">Size</td>
                                      <td _ngcontent-c12="" width="90">Refills</td>
                                      <td _ngcontent-c12="" width="130">Expires</td>
                                      <td _ngcontent-c12="" width="100">Auto Refill</td>
                                      <td _ngcontent-c12="" width="110">Unit Price</td>
                                  </tr>
                              </thead>
                              <!----><tbody _ngcontent-c12="" class="OrderContents"*ngFor='let elem of order.element'>
                                  <!---->
                                  <!----><tr _ngcontent-c12="" id="tr_order_detail">
                                      <!---->
                                          <td _ngcontent-c12="">
                                              <strong _ngcontent-c12=""><strong>{{elem.elemnt.drugName}} </strong><br><span style="color: #123C69;">Trade Name:</span><strong> {{elem.elemnt.drugTradeName}}</strong>
                                         </strong>
                                            </td>
                                          <td _ngcontent-c12="">{{elem.quatite}}</td>
                                          <!----><td _ngcontent-c12="">{{elem.elemnt.drugTypeName}} </td>
                                          <!---->
                                          <!----><td _ngcontent-c12="">{{elem.elemnt.drugFromName}}</td>
                                          <!---->
                                          <!---->
                                          <!----><td _ngcontent-c12="">{{elem.elemnt.drugStrengthName}}</td>
                                          <!---->
                                          <!---->
                                              <td _ngcontent-c12="">{{elem.elemnt.size}}</td>


                                          <!---->
                                          <!---->




                                      <!---->
                                      <!---->

                                      <td _ngcontent-c12=""*ngIf='elem.refils!=null'>
                                        {{elem.refils.number}}
                                      </td>
                                      <td _ngcontent-c12=""*ngIf='elem.refils!=null'>
                                         {{elem.refils.endDate}}
                                      </td>
                                      <td _ngcontent-c12=""*ngIf='elem.refils!=null'>
                                          <div _ngcontent-c12="" class="form-group-lg  undefined">
                                              <input _ngcontent-c12="" checked disabled="" name="autorefill" type="checkbox" class="ng-untouched ng-pristine">
                                          </div>
                                      </td>


                                    <td _ngcontent-c12=""*ngIf='elem.refils==null'>
                                      0
                                  </td>
                                  <td _ngcontent-c12=""*ngIf='elem.refils==null'>
                                      -----
                                  </td>
                                  <td _ngcontent-c12=""*ngIf='elem.refils==null'>
                                      <div _ngcontent-c12="" class="form-group-lg  undefined">
                                          <input _ngcontent-c12=""  disabled="" name="autorefill" type="checkbox" class="ng-untouched ng-pristine">
                                      </div>
                                  </td>

                                      <!---->
                                          <td _ngcontent-c12="">
                                              <p _ngcontent-c12="">${{elem.elemnt.price}}</p>
                                          </td>

                                      <!---->
                                      <!---->

                                  </tr>
                                  <tr _ngcontent-c12="" id="tr_direction" style="border-bottom: 2px">

                                      <!----><td _ngcontent-c12="" colspan="20">
                                          <p _ngcontent-c12=""><b _ngcontent-c12="">Directions :</b> {{elem.discription}}</p>
                                      </td>
                                  </tr>
                                  <!---->
                              </tbody>
                              <tbody _ngcontent-c12="">
                                  <tr _ngcontent-c12="" id="tr_prices">
                                      <td _ngcontent-c12="" colspan="7"></td>
                                      <td _ngcontent-c12="" colspan="3">
                                          <!----><div _ngcontent-c12="" class="card">
                                              <div _ngcontent-c12="" class="card-body">
                                                  <div _ngcontent-c12="" class="row">
                                                      <div _ngcontent-c12="" class="col-md-8">
                                                          <span _ngcontent-c12="">
                                                              <b _ngcontent-c12="">Initial Price:</b>
                                                          </span>
                                                          <br _ngcontent-c12="">
                                                          <span _ngcontent-c12="">
                                                              <b _ngcontent-c12="">Shipping Amount:</b>
                                                          </span>
                                                      </div>
                                                      <div _ngcontent-c12="" class="col-md-4">
                                                          <span _ngcontent-c12="" class="pull-right">
                                                              ${{order.price-10}}
                                                          </span>
                                                          <br _ngcontent-c12="">
                                                          <span _ngcontent-c12="" class="pull-right">
                                                              $10.00
                                                          </span>
                                                      </div>
                                                  </div>
                                                  <div _ngcontent-c12="" class="row" style="border-top: 1px dashed;margin-top: 5%;padding-top: 3%">
                                                      <div _ngcontent-c12="" class="col-md-6">
                                                          <b _ngcontent-c12="">Total Price:</b>
                                                      </div>
                                                      <div _ngcontent-c12="" class="col-md-6">
                                                          <span _ngcontent-c12="" class="pull-right">
                                                              ${{order.price}}
                                                          </span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </td>

                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
