<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div class="centre">
  <h3 style="font-style: normal;text-align: center; color:#01094E">
    Rx Management Dashboard
  </h3>
<button class="btn " routerLink="/NewRX"><span class="fa fa-file-prescription" style="color:#01094E;font-size:60px; "></span><br><h6 style="font-style: oblique; color:#01094E">Create New <br>Rx</h6></button>
<button class="btn"><span class="fa fa-folder-open" style="color:#01094E;font-size:60px; "></span><br> <h6 style="font-style: oblique;color:#01094E">Patient Rx<br>History</h6></button>
<button class="btn "><span class="fa fa-clipboard-list" style="color:#01094E;font-size:60px; "></span><br><h6 style="font-style: oblique; color:#01094E">Treatment <br>Plans</h6></button>
<button class="btn"><span class=" fa fa-hand-holding-usd"style="color:#01094E;font-size:60px; "></span><br><h6 style="font-style: oblique; color:#01094E">Formulary</h6></button>

<button class="btn "><span class="fa fa-comment-medical" style="color:#01094E;font-size:60px; "></span><br><h6 style="font-style:oblique;color:#01094E ">Patient<br>Feedback<br>History</h6></button>
<button class="btn " routerLink="/PetOwners"><span class="fa fa-users" style="color:#01094E;font-size:60px; "></span><br><h6 style="font-style:oblique;color:#01094E">Manage<br>PetOwners</h6></button>
<span class = "glyphicon glyphicon-ok form-control-feedback"></span>
<button class="btn " routerLink="/Vets"><span class="fa fa-user-md" style="color:#01094E;font-size:60px; "></span><br><h6 style="font-style:oblique;color:#01094E">Manage<br>Vets</h6></button>
<button class="btn " routerLink="/PetOwners"><span class="fa fa-capsules" style="color:#01094E;font-size:60px; "></span><br><h6 style="font-style:oblique;color:#01094E">Pharmacy</h6></button>

</div>
<div class="container">


</div>

