<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="logo" >
<a href="#">
    <img src="assets/img/login2.png" style="height: 50px; margin-left: 35px;"/>
</a></div>
<div class="leftMenu"  >
<ul class="nav flex-column"  >

  <li class="nav-item">
    <a class="nav-link active"routerLink="/HomePageClient"><span class="fa fa-home" style="color:white E;font-size:25px; "></span>&nbsp;Home Page</a>
  </li>

  <li class="nav-item">
    <a class="nav-link active"routerLink="/RxHistoryClient"><span class="fa fa-folder-open" style="color:white E;font-size:25px "></span> &nbsp; Rx History</a>

  </li>

  <li class="nav-item">
    <a class="nav-link active"routerLink="/Vets"><span class="fa fa-user-md"style="color:white E;font-size:25px "></span>&nbsp;Care Team</a>
  </li>
  <li>
    <a class="nav-link active"routerLink="/Pharmacies"><span class="fa fa-user-cog"style="color:white E;font-size:25px "></span>&nbsp;Account Setting</a>
  </li>
  <li style="position: absolute;
  bottom: 0;  font-size: large">
    <a class="nav-link active"routerLink="/Pharmacies"><span class="fa fa-power-off"style="color:white E;font-size:25px "></span>&nbsp;Sign out </a>
  </li>
</ul>
</div>


