
<span class="fa fa-arrow-left" style="color: #123C69;"></span><a routerLink="/HomePageVet"> Dashbord</a>
<br>
<span class="fa fa-arrow-left" style="color: #123C69;"></span><a routerLink="/HomePageVet/Vets" >Vets List </a>

<div class="all2"*ngIf="!edite">
  <form id='form'*ngIf="!edite" style="color:#123C69" >
    <h3 style="color: #123C69;margin-bottom: 20px;">Vet Profil </h3>

    <div class="form-row">
      <label for="inputName" id='labelInput' >First Name :</label> &nbsp;&nbsp;<label >{{user.name}}</label>
    </div>

    <div class="form-row">
        <label for="inputAddress"id='labelInput'>Last Name :</label> &nbsp;&nbsp;<label >{{user.last_name}}</label>
    </div>

    <div class="form-row">
        <label for="inputAddress" id='labelInput'>Email Address :</label> &nbsp;&nbsp;<label >{{user.email}}</label>
    </div>

    <div class="form-row">
          <label for="validationDefault03" id='labelInput'>Mobile Number :</label> &nbsp;&nbsp;<label >{{user.phone}}</label>
    </div>
    <div class="form-row">
      <label for="validationDefault03" id='labelInput'>Direct Line :</label> &nbsp;&nbsp;<label >{{vetInfo.directLine}}</label>
</div>

    <div class="form-row">
        <label for="inputAddress"id='labelInput'>Specialty :</label> &nbsp;&nbsp;<label >{{vetInfo.speciality}} </label>
    </div>
    <div class="form-row">
      <label for="inputAddress"id='labelInput'>Date of Birth :</label> &nbsp;&nbsp;<label >{{user.date_of_birth}} </label>
  </div>
    <div class="form-row">
      <label for="inputAddress"id='labelInput'>Address :</label> &nbsp;&nbsp;<label >{{ adresse.adresse}} <br> {{ adresse.city}}
      &nbsp;{{ adresse.street}}<br>{{ adresse.postal_code}} </label>
  </div>
  <!-- Button trigger modal -->
 <button type="button" class="btn btn-primary" style ="background-color: darkred; width: 200px; border-color: darkred;"data-toggle="modal"  data-target="#exampleModalCenter" (click)='AttachPetowner()' >
  <h6 style="float:left;">Petowners </h6>
</button>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Petowners List</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: aliceblue;">
      <span aria-hidden="true" style="color:darkgrey;">&times;</span>
      </button>
  </div>
<div class="modal-body">

    <input type="text" class="form-control" name='search'[(ngModel)]='search'style="display: inline; width:300px;margin-right: 15px;" placeholder="Search by Name">
    <button type="button" class="btn btn-primary" style="display: inline; background-color: #D79922;">Find </button>
    <button style="display: inline; background-color:darkred;margin-left: 10px;"type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="row"></th>
          <td scope="row" style="" >Name </td>


        </tr>
      </thead>
      <tbody  >

        <tr *ngFor="let petowners of CheckPet| filter:search">
          <th scope="row"></th>
          <td>{{petowners.name }} {{petowners.last_name}} &nbsp;({{petowners.email}}) </td>


        </tr>
      </tbody>
    </table>
</div>
  <div class="modal-footer">
  </div>
  </div>
</div>
</div>
<br>
  <button type="submit" class="btn btn-primary " id="edit"(click)='edit()'style="float:right;font-style:oblique ; margin-bottom :20px ;font-size:large;width: 100px;"> <span class="fas fa-pencil-alt">Edit </span></button>
<br>
<br>
</form>
<br>
</div>

<div class="all" *ngIf="edite">
  <h3 style="color: #123C69;margin-bottom: 20px; margin-left: 10px;">Vet</h3>
  <form id='form2' style="color: #123C69;">
     <div class="form-row"*ngIf="edite">
        <label for="inputName">First Name <i style="color:red">*</i></label>
        <input type="text"   [(ngModel)]='user.name'name="name"class="form-control" id="inputName" value="{{user.name}}">
      </div>
      <div class="form-row">
         <label for="inputlastName">Last Name <i style="color:red">*</i></label>
          <input type="text" name="last_name"  [(ngModel)]='user.last_name'class="form-control" id="inputlastName" value="{{user.last_name}}">
      </div>
      <div class="form-row">
         <label for="inputEmail" >Email Address <i style="color:red">*</i></label>
          <input type="email" name="email"[(ngModel)]='user.email' class="form-control" id="inputEmail" value="{{user.email}}" >
      </div>
     <div class="row">
     <div class="col">
         <label for="inputphone" > Mobile Number <i style="color:red">*</i></label>
         <input type="phone" name="phone" id="inputphone" [(ngModel)]='user.phone'class="form-control"value="{{user.phone}}">
     </div>
   <div class="col">
        <label for="InputDirectLine" > DirectLine <i style="color:red">*</i></label>
      <input type="text" name="directLine" id="InputDirectLine" [(ngModel)]='vetInfo.directLine'class="form-control"value="{{vetInfo.directLine}}">
     </div>
     <div class="col">
      <label for="InputFax" >Fax<i style="color:red">*</i></label>
    <input type="text" name="fax" id="InputFax" [(ngModel)]='vetInfo.fax'class="form-control"value="{{vetInfo.fax}}">
   </div>
     </div>
     <div class="form-row">
      <label for="inputspecialty" >Sepcialty <i style="color:red">*</i></label>
       <input type="text" name="speciality"  [(ngModel)]='vetInfo.speciality' class="form-control" id="inputspecialty" value="{{vetInfo.speciality}}" >
   </div>

     <div class="form-group">
          <label for="inputAddress">Address <i style="color:red">*</i></label>
          <input type="text" name="adresse"  [(ngModel)]='adresse.adresse'class="form-control" id="inputAddress" value="{{adresse.adresse}}">
     </div>
     <div class="form-row">
     <div class="form-group col-md-6">
           <label for="inputCity">City <i style="color:red">*</i></label>
           <input type="text" class="form-control" id="inputCity"   [(ngModel)]='adresse.city'name="city"  value="{{adresse.city}}">
     </div>
     <div class="form-group col-md-4">
            <label for="inputState">State <i style="color:red">*</i></label>
            <select id="inputState" class="form-control" name="street" [(ngModel)]='adresse.street' value="{{adresse.street}}">
            <option value="hi"selected>Choose...</option>
            <option >...</option>
            </select>
     </div>
     <div class="form-group col-md-2">
           <label for="inputZip">Zip <i style="color:red">*</i></label>
           <input type="text" class="form-control"   [(ngModel)]='adresse.postal_code'name="postal_code" id="inputZip"value="{{adresse.postal_code}}">

      </div>
      </div>
 <!-- Button trigger modal -->
 <button type="button" class="btn btn-primary" style ="background-color: #4056A1;"data-toggle="modal"  data-target="#exampleModalCenter" (click)='AttachPetowner()' style="width: 400px;">
  <h6 style="float:left;">Attach a PetOwner </h6>
</button>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Petowners List</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: aliceblue;">
      <span aria-hidden="true" style="color:darkgrey;">&times;</span>
      </button>
  </div>
<div class="modal-body">

    <input type="text" class="form-control" name='search'[(ngModel)]='search'style="display: inline; width:300px;margin-right: 15px;" placeholder="Search by Name">
    <button type="button" class="btn btn-primary" style="display: inline; background-color: #D79922;">Find </button>
    <button style="display: inline; background-color:darkred;margin-left: 10px;"type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="row"></th>
          <td scope="row" style="" >Name </td>
          <td scope="row" style="float: right;" >Attach</td>

        </tr>
      </thead>
      <tbody  >
        <tr *ngFor="let petowners of petowners| filter:search">
          <th scope="row"></th>
          <td>{{petowners.name }} {{petowners.last_name}} &nbsp;({{petowners.email}}) </td>
          <td style="float: right;">
            <!-- Default unchecked -->
          <div class="custom-control custom-checkbox">
                <input type="checkbox"(change)="onChange(petowners.id ,$event.target.checked)"class="form-check-input" >
               <!-- <label class="custom-control-label" ></label>-->
          </div>
          </td>

        </tr>
        <tr *ngFor="let petowners of CheckPet| filter:search">
          <th scope="row"></th>
          <td>{{petowners.name }} {{petowners.last_name}} &nbsp;({{petowners.email}}) </td>
          <td style="float: right;">
            <!-- Default unchecked -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" checked class="form-check-input" (change)="onChange2(petowners.id ,$event.target.checked)">
               <!-- <label class="custom-control-label" ></label>-->
            </div>
          </td>

        </tr>
      </tbody>
    </table>
</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" style="display: inline; background-color:#4056A1;margin-left: 15px;"(click)="saveRelation()" data-dismiss="modal">Submit </button>
  </div>
  </div>
</div>
</div>
        <br>
        <br>
       <button type="submit" class="btn btn-primary "(click)='save()'style="float:right;font-style:oblique ; margin-bottom :20px ;font-size:large;width: 200px; background-color:#F13c20"> <span class="fa fa-save"  style="margin-right:15px"> Save </span></button>
         <br>
          <br>
 </form>
</div>
