
  <!-- <div class="page-container">
  <router-outlet></router-outlet>
  </div> --><!--<div  *ngIf="client===false">-->
  <!--div class="top-nav-bar">
    <app-navbar-vet  *ngIf="loggedIn"></app-navbar-vet>
  </div>
  <div class="left-nav-bar ">
    <app-menubar  *ngIf="loggedIn"  ></app-menubar>
   </div>



  <notifier-container></notifier-container>

  <div class="page-container">
    <router-outlet></router-outlet>
    </div>
  </div>
  <div >-->
      <router-outlet></router-outlet>


<!--</div>-->
