<div class='all'>

<form id='form'style="color:#01094E" >
  <div class="row">
    <div class="col">
  <label for="inputName" id='labelInput'  style="font: bold 15px Sans-Serif;">Client : </label>
   <br><label  style='color:midnightblue '>{{user.name}} {{user.last_name}}</label>
</div>

  <div class="col">
    <label for="inputAddress"id='labelInput' style="font: bold 15px Sans-Serif;
    ">Email Address :</label>  <br> <label style=" color:midnightblue " >{{user.email}}</label>
</div>
</div>
</form>
</div>
