.notifyjs-bootstrap-base {font-weight: bold;
	padding: 8px 15px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	white-space: nowrap;
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: 3px 7px;
}
.notifyjs-bootstrap-error {
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
}
.notifyjs-bootstrap-success {
	color: #468847;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}
.notifyjs-bootstrap-info {
	color: #3A87AD;
	background-color: #D9EDF7;
	border-color: #BCE8F1;
}
.notifyjs-bootstrap-warn {
	color: #C09853;
	background-color: #FCF8E3;
	border-color: #FBEED5;
}
.simple-notification-wrapper { position: fixed; width: 300px; z-index: 1000; }
 .simple-notification-wrapper.left { left: 20px; }
 .simple-notification-wrapper.top { top: 20px; }
 .simple-notification-wrapper.right { right: 20px; }
 .simple-notification-wrapper.bottom { bottom: 20px; }
 .simple-notification-wrapper.center { left: 50%; transform: translateX(-50%); }
  .simple-notification-wrapper.middle { top: 50%; transform: translateY(-50%); }
  .simple-notification-wrapper.middle.center { transform: translate(-50%, -50%); }
  @media (max-width: 340px) { .simple-notification-wrapper { width: auto; left: 20px; right: 20px; } }orner {
	position: fixed;
	margin: 5px;
	z-index: 1050;
}.notifyjs-c

.notifyjs-corner .notifyjs-wrapper,
.notifyjs-corner .notifyjs-container {
	position: relative;
	display: block;
	height: inherit;
	width: inherit;
	margin: 3px;
}

.notifyjs-wrapper {
	z-index: 1;
	position: absolute;
	display: inline-block;
	height: 0;
	width: 0;
}

.notifyjs-container {
	display: none;
	z-index: 1;
	position: absolute;
}

.notifyjs-hidable {
	cursor: pointer;
}

[data-notify-text],[data-notify-html] {
	position: relative;
}

.notifyjs-arrow {
	position: absolute;
	z-index: 2;
	width: 0;
	height: 0;
}
.ngx-pagination {
  padding-left: 0px !important;
}

.ngx-pagination .current,
.btn-info {
  background:red !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.ngx-pagination .current:hover {
  background: #cccc !important;
  border-radius: 20px !important;
  border: transparent !important;
}
