
  .all{
    border-color:lightgray;
    border-style: solid;
    border-width: 0.5px;
  margin-right: 10px;
  margin-bottom: 15px;

  }
  #form{
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 40px;

  }
  button{
    color:black ;
    background-color: lightgrey;
text-align: center;
    margin-left: 15px;
  }
  .buttongroupe{
   float:right;
  display: inline;;
  }
  .buttongroupe #cancel
  {


    background-color: darkred;
    color: white;
  }
