<ul class="nav justify-content-center">
  <li>
    <a routerLinkActive="home" [routerLinkActiveOptions]="{exact: true}" routerLink="/profil">Profil</a>
  </li>
  <li >
    <a routerLinkActive="home" [routerLinkActiveOptions]="{exact: true}" routerLink="#">Link</a>
  </li>

  <li >
    <a routerLinkActive="home" [routerLinkActiveOptions]="{exact: true}" routerLink="#">Link</a>
  </li>
  <li >
    <a routerLinkActive="home" [routerLinkActiveOptions]="{exact: true}" routerLink="HomePage">Disabled</a>
  </li>
</ul>

