<div class="centre">
<ul class="nav justify-content-center">

  <li>
    <a routerLinkActive="home" [routerLinkActiveOptions]="{exact: true}" routerLink="HomePage"><h6>Dashbord</h6></a>
  </li>
  <li >
    <a routerLinkActive="home" [routerLinkActiveOptions]="{exact: true}" routerLink="NewRX"><h6>Create New Rx</h6></a>
  </li>

  <li >
    <a routerLinkActive="home" [routerLinkActiveOptions]="{exact: true}" routerLink="#"><h6>Patient Rx History</h6></a>
  </li>
  <li >
    <a routerLinkActive="home" [routerLinkActiveOptions]="{exact: true}" routerLink="#"><h6>Treatment Plans</h6></a>
  </li>
  <li >
    <a routerLinkActive="home" [routerLinkActiveOptions]="{exact: true}" routerLink="#"><h6>Formulary</h6></a>
  </li>
  <li >
    <a routerLinkActive="home" [routerLinkActiveOptions]="{exact: true}" routerLink="#"><h6>Search</h6></a>
  </li>
</ul>

</div>
