<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="logo" style='background-color: #4056A1; ' >
<a href="#">
    <img src="assets/img/login2.png" style="height: 56px; margin-left: 35px;"/>
</a></div>
<div class="leftMenu">
<ul class="nav flex-column"  >

  <li class="nav-item">
    <a class="nav-link active"routerLink="/HomePageVet"><span class="fa fa-home" style="color:white E;font-size:25px; "></span>&nbsp;Home Page</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"routerLink="/HomePageVet/NewRX"><span class="fa fa-file-prescription" style="color:white E;font-size:25px; "></span>&nbsp;Create New Rx </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"routerLink="/HomePageVet/orderHistory"><span class="fa fa-folder-open" style="color:white E;font-size:25px "></span> &nbsp; Patient Rx History</a>

  </li>
  <li class="nav-item">
    <a class="nav-link active"routerLink="/HomePageVet/addTreatment"><span class="fa fa-clipboard-list" style="color:white E;font-size:25px "></span>&nbsp; Treatment Plans</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link active"routerLink="/HomePageVet/formulary"><span class=" fa fa-hand-holding-usd"style="color:white E;font-size:25px "></span>&nbsp;Formulary </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"routerLink="#"><span class="fa fa-comment-medical"style="color:white E;font-size:25px "></span>&nbsp;Patient Feedback </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"routerLink="/HomePageVet/PetOwners"><span class="fa fa-users"style="color:white E;font-size:25px "></span>&nbsp;Manage PetOwners </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"routerLink="/HomePageVet/Vets"><span class="fa fa-user-md"style="color:white E;font-size:25px "></span>&nbsp;Manage Vets</a>
  </li>
  <li>
    <a class="nav-link active"routerLink="/HomePageVet/Pharmacies"><span class="fa fa-capsules"style="color:white E;font-size:25px "></span>&nbsp;Pharmacy </a>
  </li>

  <li style="position: absolute;
  bottom: 0;  font-size: large">
    <a class="nav-link active"(click)='logout($event)'><span class="fa fa-power-off"style="color:white E;font-size:25px "></span>&nbsp;Sign out </a>
  </li>
</ul>
</div>

