<div class="sid-nav-content">

  <div   id="mySidenav" class="sidenav">

    <div class="contentLogo">
    <img class="styleLogo" src="../../../assets/images/MedInstitueLogoWhite.png">
    </div>

    <div class="menu">

    <a routerLink="/HomePagePharmacist/orders"><img class="styleIcon" src="../../../assets/images/Order.png"> List of Orders</a>
    <hr>

    <a routerLink="/HomePagePharmacist/Users" ><img class="styleIcon" src="assets/images/manageUsers.png">Manage Usres</a>

    <hr>
    <a routerLink="/HomePagePharmacist/Products"><img class="styleIcon" src="assets/images/manageProducts.png">Manage Products</a>
    <hr>
    <a routerLink="/HomePagePharmacist/profil"><img class="styleIcon" src="assets/images/userAccount1.png">My Account</a>
<hr>
    <a style="bottom:0px;" (click)='logout($event)'><span class="fa fa-power-off"style="color:white E;font-size:25px "></span>&nbsp;Sign out </a>

  </div>
  </div>
</div>
